---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>
  <h3>
  {{ page.date | date_to_string }} 
  {% if page.author %}
  - Guest Author: {{ page.author }}
  {% endif %}
  {% if page.tags.size > 0 %}
  - Tags: 
    {% assign not_first = false %}
    {% for tag in page.tags %}
    {% if not_first %}, {% endif %}<a href="/tags/{{ tag }}">{{ tag }}</a>  
    {% assign not_first = true %}
    {% endfor %}
  {% endif %}
  </h3>

  {{ content }}
</div>

<section class="comments">
<!-- Use giscus as a comment system -->
  <script src="https://giscus.app/client.js"
        data-repo="hallasurvivor/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODI1OTI4Njc="
        data-category="Announcements"
        data-category-id="DIC_kwDOENgGY84CgoTn"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

</section>
